*{
	padding: 100;
	margin: 0;
}
 body
 {
 	background-image: url(4.jpeg);
 	 	background-size: 100% 600px;
 	background-repeat: no-repeat;
 }
 h1
 {
 	color: white;
 }
 h2
 {
 	color: white;
 }